.CardList{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 2rem auto;
}
.CardList h3{
    font-family: 'Audiowide', cursive;
    margin-bottom: 1rem;
}
.first_container{
    flex: 0.7;
    margin-right: 1rem;
    background: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.second_container{
    flex: 0.3;
    height: fit-content;
}

.second_container div{
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.CardList_info p{
    padding: 8px;
}

.CardList_info p:first-child{
    font-weight: bold;
}
.second_container div:last-child{
    border: none;
}

.second_container div button{
    font-family: 'Audiowide', cursive;
    padding: 10px 17px;
    width: 100%;
    font-family: 'Audiowide', cursive;
    cursor: pointer;
    background: #f7f6e7;
    color: #5f5050;
    border: 1px solid #537791
}

.second_container div button:hover{
  font-family: 'Audiowide', cursive;
  background: #f7f6e7;
  color: #5f5050;
  opacity: 1;
}

@media (max-width: 1320px) {
    .CardList {
      max-width: 900px;
    }
  }
  
  @media (max-width: 960px) {
    .CardList{
      max-width: 600px;
    }
    .CardList {
      flex-direction: column;
    }
  
    .second_container {
      margin: 1rem;
    }
  }
  
  