@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.Home{
max-width: 1300px;
margin: 1rem auto
}
.Home_title{
    font-family: 'Audiowide', cursive;
    font-size: 1.5rem;
    color: #537791;
    margin-bottom: 1rem;
    margin-left: 8px;
}



.Home_products{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* amen toxi vra 4 product */
}

.debounce_container{
  display: flex;
  justify-content: center;
  padding: 10px 0;

}
.debounce_container input{
  text-indent: 15px;
  color: black;
  min-width:300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #537791;
  box-shadow: 1px 1px 1px 4px lightgray;
}

@media (max-width: 1232px) {
    .Home_products {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  @media (max-width: 950px) {
    .Home_products {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 630px) {
    .Home_title{
      display: flex;
      justify-content: center;
  }
    .Home_products {
      grid-template-columns: 1fr;
    }
  }




  /* @media (max-width: 630px) {
    .Home_title{
      display: flex;
      justify-content: center;
  }
    .Home_products {
      grid-template-columns: 1fr;
    }
  } */


  /* @media (max-width: 630px) {
    .Home_title{
      display: flex;
      justify-content: center;
  }
    .Home_products {
      grid-template-columns: 1fr;
    }
  } */

  /* @media (max-width: 630px) {
    .Home_title{
      display: flex;
      justify-content: center;
  }
    .Home_products {
      grid-template-columns: 1fr;
    }
  } */